<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NIRS_Viewer.Properties.Settings.nirsConnectionString"
            connectionString="server=localhost;user id=root;persist security info=True;database=nirs"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>